@import "../abstracts/mixins";
@import "../abstracts/variables";

body{
	font-size: 1.4rem;
}

.container {
	max-width: toRem(1523);
	min-width: toRem(320);
	margin: 0 auto;
	padding: 0 20px;
	@include media(min, xl) {
		padding: 0 32px;
	}
	@include media(min, xxl) {
		padding: 0;
	}
}
